/.vscode/* export-ignore
/buildscript/* export-ignore
/docs/* export-ignore
/old_code_for_reference/* export-ignore
composer.lock export-ignore
.gitignore export-ignore
.gitattributes export-ignore
readme.md export-ignore
todo.md export-ignore
phpstan.neon export-ignore
